// Colors
$black : #242323;
$white : #e5f8f7;
$police : rgb(15, 125, 250);
$thief : rgb(241, 44, 30);
$active : rgb(28, 209, 28);

// Borders
$border-bold : 3px solid $black;

//Value
$section-inset: -10%;