@mixin circle($width, $border) {
    min-width: $width;
    border : $border;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}   

@mixin center-items() {
    display: flex;
    justify-content: center;
    align-items: center;
}