@import "color";
@import "mixins";
@import "reset";

.wrapper {
    width: 100%;
    min-height: 100%;

    display: grid;
    place-items: center;
    position: relative;
}

.board {
    @include circle(35%, $border-bold);
    @include center-items();

    padding: 2rem;
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: '';

        width: 100%;
        height: 3px;
        position: absolute;

        background: $black;
    }

    &::after {
        transform: rotate(90deg);
    }

    &__section {
        @include circle(25%, $border-bold);
        position: absolute;

        &.north {
            top: $section-inset;
        }
        &.south {
            bottom: $section-inset;
        }
        &.east {
            left: $section-inset;
        }
        &.west {
            right: $section-inset;
        }
    }

    .entity {
        @include circle(25px, $border-bold);
        position: absolute;
        z-index: 5;

        background: $police ;
        border-color: $police;

        // pointer-events: none;

        &.thief {
            background: $thief;
            border-color: $thief;
            &.active {
                box-shadow: 0 0 10px $thief;
            }
        }
        &.active {
            box-shadow: 0 0 10px $police;
            cursor: pointer;
            pointer-events: all;
        }

    }
}

.section {
    width: 100%;
    height: 100%;

    @include center-items();
    position: relative;

    div {
        @include circle(13%, $border-bold);
        position: absolute;
        z-index: 3 ;
        
        background: $black;
        color: white;

        pointer-events: none;
        &.section__north {
            top: -8%;   
        }
        &.section__south {
            bottom : -5%;
        }
        &.section__east {
            left : -5%;
        }
        &.section__west {
            right : -5%
        }
        &.active {
            border-color: $active;
            background: $active;
            box-shadow: 0 0 10px $active;
            cursor: pointer;
            pointer-events: all;
        }
    }
    
}

.north .section__north {
    top: 40% !important;
}

.south .section__south {
    bottom: 40% !important;
}

.east .section__east {
    left: 40% !important;
}

.west .section__west {
    right: 40% !important;
}